<div [@moveCard]='state' fxLayout fxLayout.xs="column">
    <div fxLayout="column">
        <mat-card class="header" [class.dark]="!isLight">
            <mat-card-title class="hTitle">Hello!</mat-card-title>
            <p> I am Nishanth Shyam, a computer science student who is driven and passionate in technology, always striving to deliver
                the best in everything that I do.
            </p>
        </mat-card>
        <mat-card class="background" [class.dark]="!isLight">
            <mat-card-title class="bTitle">Background</mat-card-title>
            <p> I am a current computer science student interested in all aspects of development. I have strong interests in Internet of Things
                and what the developments in this field can bring to consumers.
            </p>
            <p>
                I am a currently studying at Newcastle University due to graduate in 2019. Modules I have completed so far have included algorithms, database
                systems as well as operating systems. My interests include mobile app development as well as native applications such as Ionic, React,
                and Flutter.
            </p>
            <p>
                I am currently on a yearlong internship at The Walt Disney Company working as an IT Analyst, building, improving, and maintaining
                business applications in the EMEA region. During my internship I have learnt a lot about front-end frameworks, specifically 
                AngularJS and Angular 2/4. I helped create a 'quickbar' feature for an existing application which was then tested
                and finally deployed to production.
            </p>
            <p>
                My main responsibilities were to help complete production of a new application for the Disney Media Distribution (DMD)
                team. I have worked as the sole front-end developer for this project for the majority of the year. My main tasks have ranged from simple
                UI fixes to implementing new features after meetings with business users.
            </p>
        </mat-card>
    </div>
    <div fxLayout="column">
        <mat-card class="education" [class.dark]="!isLight">
            <mat-card-title class="edTitle">Education</mat-card-title>
            <h3>Newcastle University, 2015-2019</h3>
            <p>Computer Science with Industrial Placement</p>
            <p>1st and 2nd year: 1:1, Expected 1:1</p> 
            <h3>The King's School Grantham</h3>
            <p>GCSE: 14 A*-B</p>
            <p>A levels:</p>
                <ul>
                    <li>Maths: A</li>
                    <li>Physics: B</li>
                    <li>Computing: B</li>
                </ul>
            <p>AS levels:</p>
                <ul>
                    <li>Further Maths: B</li>
                    <li>Biology: B</li>
                </ul>
        </mat-card>
    </div>
</div>
