* {
    font-family: 'Catamaran', sans-serif;
    color: black;
}
.header {
    margin: 10px;
    margin-right: 5px;
    font-size: 20px;
    .hTitle {
        font-size: 30px;
    }
}
.education {
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 5px;
    .edTitle {
        font-size: 30px;
    }
}