mat-toolbar {
    align-items: flex-start; 
    height: 100px;
    position: fixed;
    z-index: 2;

    .first, .second {
        margin-top: 15px;
        font-size: 45px;
        font-family: 'Catamaran', sans-serif;

        &::first-letter {
            font-size: 90px;
        }
    }
    .current {
        position: absolute;
        top: 65px;
        font-style: italic;
    }
    .dark-mode, .light-mode {
        background-color: transparent;
        background-repeat:no-repeat;
        border: none;
        cursor:pointer;
        overflow: hidden;
        outline:none;
        position: absolute;
        right: 60px;
        top: 30px;
    }
    mat-icon {
        font-size: 32px;
    }
}