mat-toolbar {
    align-items: flex-start; 
    height: 100px;

    .first, .second {
        margin-top: 20px;
        font-size: 45px;
        font-family: 'Catamaran', sans-serif;

        &::first-letter {
            font-size: 90px;
        }
    }
}